! Our Emacs configuration is only read once our initial frame has
! already been created.

emacs.menuBar: off
emacs.toolBar: off
emacs.verticalScrollBars: off
Emacs.useXIM: on

! Font configuration

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintnone
Xft*dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault